
.login {
    .remember-forgot {
        overflow: auto;
        margin: 20px 0;
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                display: block;
                margin-bottom: 10px;

                @media (min-width: @screen-xs) {
                    display: inline;
                    margin-bottom: 0;
                }

                a {
                    margin: 0 20px;
                }
            }
        }
    }

    .toggle-login-register {
        text-align: center;
        margin-top: 20px;
    }

    .remember-forgot {
        .forgot-password {
            float: right;
            padding: 0;
        }

        .checkbox {
            margin: 0;
        }
    }
}


#userQuery {
    label.separator {
        text-align: center;
        position: relative;
        z-index: 1;
        font-size: 16px;
        margin: 0 0 15px 0;
        width: 100%;
    }
    label.separator:before {
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }
    label.separator span {
        padding: 0 10px;
    }
}

#processContent {
    padding-bottom: 20px;

    .alert {
        overflow:scroll;
    }
}
