/**
 * The contents of this file are subject to the terms of the Common Development and
 * Distribution License (the License). You may not use this file except in compliance with the
 * License.
 *
 * You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
 * specific language governing permission and limitations under the License.
 *
 * When distributing Covered Software, include this CDDL Header Notice in each file and include
 * the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 * Header, with the fields enclosed by brackets [] replaced by your own identifying
 * information: "Portions copyright [year] [name of copyright owner]".
 *
 * Copyright 2015 ForgeRock AS.
 */

/*
 Animation
*/
.checkbox-slider--b input+span:before {
  transition: background .2s ease-out;
  box-shadow: none;
}

.checkbox-slider--b input:not(:checked)+span:after {
  animation: popOut ease-in 0s normal;
}

.checkbox-slider--b input:checked+span:after {
  animation: popIn ease-in 0s normal;
}

/*
  Adjust colors
*/
.checkbox-slider-info.checkbox-slider--default input:checked + span:after,
.checkbox-slider-info.checkbox-slider--c-weight input:checked + span:after {
  background: #5bc0de;
  background-clip: content-box;
}

.checkbox-slider-info.checkbox-slider--b input:checked + span:before,
.checkbox-slider-info.checkbox-slider--b-flat input:checked + span:before {
  background: #5bc0de;
}
.checkbox-slider-warning.checkbox-slider--default input:checked + span:after {
  background: #f0ad4e;
  background-clip: content-box;
}

.checkbox-slider-warning.checkbox-slider--b input:checked + span:before,
.checkbox-slider-warning.checkbox-slider--b-flat input:checked + span:before {
  background: #f0ad4e;
}
.checkbox-slider-danger.checkbox-slider--default input:checked + span:after {
  background: @failure-color;
  background-clip: content-box;
}

.checkbox-slider-danger.checkbox-slider--b input:checked + span:before,
.checkbox-slider-danger.checkbox-slider--b-flat input:checked + span:before {
  background: @failure-color;
}

.checkbox-slider-primary.checkbox-slider--default input:checked + span:after {
  background: @base-theme-color;
  background-clip: content-box;
}

.checkbox-slider-primary.checkbox-slider--b input:checked + span:before,
.checkbox-slider-primary.checkbox-slider--b-flat input:checked + span:before {
  background: @base-theme-color;
}

/*
  Fixed default bootstrap styles
*/
.form-horizontal .checkbox.checkbox-slider {
  padding-top: 0;
}