#userQuery {
    label.separator {
        color: #666;
        font-weight: 400;
    }
    label.separator:before {
        border-top: 1px solid #ddd;
    }
    label.separator span {
        background: #f7f7f7;
    }
}
