<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Archetype Created Web Application</display-name>

    <!-- ServletContextListener to initialise the AuthConfigFactory. -->
    <listener>
        <listener-class>org.forgerock.jaspi.container.initialisation.AuthConfigFactoryServletContextListener</listener-class>
    </listener>

    <!-- ServletFilter to intercept requests and response to Authenticate. -->
    <filter>
        <filter-name>jaspi-filter</filter-name>
        <filter-class>org.forgerock.jaspi.filter.AuthNFilter</filter-class>
        <init-param>
            <param-name>moduleChain</param-name>
            <param-value>UsernamePasswordModuleChain</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>jaspi-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
