<div class="dialogContainer">
    <div class="dialogInner modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="dialogCloseCross">
                    <a href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="modal-body dialogContent">

            </div>
            <div class="dialogActions">

            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>