<div class="dialogContainer">
    <div class="dialogInner modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="dialogCloseCross">
                    <a href="#"><img src="images/dialog-close.png" width="16" height="16" alt="Close window" /></a>
                </div>
            </div>
            <div class="modal-body dialogContent">

            </div>
            <div class="dialogActions">

            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>