<div class="container">
    <div class="row">
        <form class="form-signin" role="form">
            <div class="col-sm-6 col-sm-offset-3">

                {{#if hasOptionalUIFeatures}}
                    {{#siteIdentification}}

                    <div class="well site-identification ">
                        <div class="media">
                            <div class="media-left media-middle">
                                <div id="siteImage"></div>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">{{t "templates.user.LoginTemplate.siteIdentificationHeader"}}</h4>
                                <h3 id="passPhrase" class="media-heading"></h3>
                            </div>
                        </div>
                    </div>

                    {{/siteIdentification}}
                {{/if}}
                <div class="login">
                    <div class="form-group">
                        <input type="text" name="login" id="login" value="" class="form-control input-lg" placeholder="Username" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" required>
                    </div>
                    <div class="remember-forgot">
                        <div class="checkbox pull-left">
                            <label>
                                <input type="checkbox" type="checkbox" name="loginRemember"> {{t "templates.user.LoginTemplate.loginRemember"}}
                            </label>
                        </div>
                        {{#if hasOptionalUIFeatures}}
                        {{#if passwordResetLink}}
                        <a class="pull-right" href="{{passwordResetLink}}">{{t "templates.user.LoginTemplate.resetPassword"}}</a>
                        {{else}}
                        {{#if securityQuestions}}
                        <a class="pull-right" href="{{url 'forgottenPassword'}}">{{t "templates.user.LoginTemplate.resetPassword"}}</a>
                        {{/if}}
                        {{/if}}
                        {{/if}}
                    </div>
                    <input type="submit" name="loginButton" class="btn btn-lg btn-primary btn-block btn-uppercase" value="{{t "common.user.login"}}">
                    {{#if hasOptionalUIFeatures}}
                    {{#selfRegistration}}
                    <div class="toggle-login-register">
                        {{t "templates.user.LoginTemplate.noAccountQuestion"}} <a href="{{url 'selfRegistration'}}">{{t "templates.user.LoginTemplate.registerAccount"}}</a>
                    </div>
                    {{/selfRegistration}}
                    {{/if}}
                </div>
            </div>
        </form>
    </div>
</div>