<div class="container">
    <form class="form-signin" role="form">
        <input type="text" name="login" id="login" value="" class="form-control" placeholder="Username" required autofocus>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" type="checkbox" name="loginRemember"> {{t "templates.user.LoginTemplate.loginRemember"}}
            </label>
        </div>
        <input type="submit" name="loginButton" class="btn btn-lg btn-primary btn-block" type="submit" value="{{t "common.user.login"}}">
        {{#if hasOptionalUIFeatures}}
        <div class="col2">

            {{#siteIdentification}}
            <div class="fieldset clearfix">
                <h5>{{t "templates.user.LoginTemplate.siteIdentificationHeader"}}</h5>
                <p id="identificationMessage" class="last">{{t "templates.user.LoginTemplate.siteIdentificationExplanation"}}</p>
                <div id="siteImage" class="float-right"></div>
                <div id="passPhrase"></div>
            </div>
            {{/siteIdentification}}
            {{#selfRegistration}}
            <div class="fieldset">
                <h5>{{t "templates.user.LoginTemplate.noAccountQuestion"}}</h5>
                <p class="last"><a href="{{url 'selfRegistration'}}">{{t "templates.user.LoginTemplate.registerAccount"}}</a></p>
            </div>
            {{/selfRegistration}}

            {{#if passwordResetLink}}
            <div class="fieldset">
                <h5>{{t "templates.user.LoginTemplate.problemLoggingQuestion"}}</h5>
                <p class="last"><a href="{{passwordResetLink}}">{{t "templates.user.LoginTemplate.resetPassword"}}</a></p>
            </div>
            {{else}}

            {{#if securityQuestions}}
            <div class="fieldset">
                <h5>{{t "templates.user.LoginTemplate.problemLoggingQuestion"}}</h5>
                <p class="last"><a href="{{url 'forgottenPassword'}}">{{t "templates.user.LoginTemplate.resetPassword"}}</a></p>
            </div>
            {{/if}}

            {{/if}}

        </div>
        {{/if}}
    </form>
</div>