<nav id="mainNavHolder" class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavBar" aria-expanded="false" aria-controls="navbar">
                <i class="fa fa-bars fa-lg"></i>
            </button>
            <a href="#" class="navbar-brand" title="{{theme.settings.logo.title}}"><img src="{{theme.settings.logo.src}}" alt="{{theme.settings.logo.alt}}" /> </a>
        </div>
        <div id="mainNavBar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {{#each topNav}}
                <li {{#if isActive}} class="active" {{/if}}>
                <a href="{{hashurl}}" title="{{title}}"><i class="{{icon}}"></i>{{title}}</a>

                {{#if subNav.length}}
                <div class="subnav">
                    <div class="container">
                        <ul class="nav nav-subnav" role="menu">
                            {{#each ../subNav}}
                            <li {{#if isActive}} class="active" {{/if}}>
                            <a href="{{hashurl}}" title="{{title}}"><i class="{{icon}}"></i>{{title}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/if}}

                </li>
                {{/each}}
            </ul>
            <ul id="loginContent" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="user-avatar">
                            <i class="fa fa-user"></i>
                        </span>
                        <span id="user_name">
                            {{#if username}}
                                {{username}}
                            {{/if}}
                        </span><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#profile/" id="profile_link">{{t "common.user.profile"}}</a></li>
                        <li><a href="#profile/change_security_data/" id="security_link">{{t "templates.user.UserProfileTemplate.changeSecurityData"}}</a></li>
                        <li><a href="#logout/" id="logout_link">{{t "common.form.logout"}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{#if subNav.length}}
<nav id="subNavHolder" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div id="subNavBar" class="navbar-collapse collapse subnav">
            <ul class="nav navbar-nav nav-subnav" role="menu">
                {{#each subNav}}
                <li {{#if isActive}} class="active" {{/if}}>
                <a href="{{hashurl}}" title="{{title}}"><i class="{{icon}}"></i>{{title}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</nav>
{{/if}}