<p id="confirmPasswordFormExplanation">
    {{t "templates.user.ConfirmPasswordDialogTemplate.explanation1"}}
    <em>{{changedProtected}}</em>
</p>
<p> {{t "templates.user.ConfirmPasswordDialogTemplate.explanation2"}} </p>
<form id="confirmPasswordForm" action="" class="form-horizontal" method="post" onsubmit="return false" autocomplete="off">
    <fieldset>
        <div class="form-group has-feedback">
            <label for="currentPassword" class="col-sm-4 control-label">{{t "common.user.currentPassword"}}</label>
            <div class="col-sm-6">
                <input class="form-control" type="password" name="currentPassword" id="currentPassword" data-validator="required" data-validator-event="change keyup"  data-validation-status="error" autofocus required/>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>
    </fieldset>
</form>
