 <div id="container" class="container">
 	<div id="header" class="container">
 		<div id="logo" class="float-left">
        	<a href="#" title="idm"><img src="images/logo.png" width="226" height="60" alt="idm logo" /> </a>
		</div>
		<div id="user-nav" class="float-right">
            <div id="loginContent">
                <span id="user_name"></span>
                <span class="hr-vertical">|</span>
                <a href="#profile/" id="profile_link">My Profile</a>
                <span class="">|</span>
                <input type="button" name="logout_link" id="logout_link" class="link" value="Log out" />
            </div>
		</div> 
 	</div>
 	
    <div id="menu" class="menubar"></div>

    <div id="content" class="content"></div>
</div>

<div id="footer">
    <div class="container">
        <a href="http://forgerock.com/" target="_blank">
            <img src="images/footer_logo.png" alt="aRockGroupCompany" width="228" height="41" />
        </a>
        <p class="center">
        	<a href="mailto: info@forgerock.com" class="active">info@forgerock.com</a>, or phone +47 21520108.<br />
        	Copyright (c) 2010-11 ForgeRock, all rights reserved.
        </p>
    </div>
</div>
