
<h1>Session Expired</h1>
<div class="shadowFrame paddingVertical40">
    <div style="width: 380px;">
        <form action="" method="post">
            <fieldset>
                <div class="field">
                    <label class="short">Login</label> <input type="text" name="login"
                        data-validator="required" data-validator-event="keyup" />
                </div>
                <div class="field">
                    <label class="short">Password</label> <input type="password" name="password"
                        data-validator="required" data-validator-event="keyup" />
                </div>
                <div style="margin-left: 128px;">
                    <input type="submit" name="loginButton" class="button orange" value="Login" />
                </div>
            </fieldset>
        </form>
    </div>

</div>