<div class="content-bg">

    <h3>{{t "common.user.userProfile"}}</h3>

    <form class="form clearfix" id="UserProfileForm">

        <input type="hidden" name="dn" />

        <div class="clearfix">

            <div class="float-right col2">
                <a href="{{url 'changeSecurityData'}}" id="securityDialogLink" class="ice hrefInput align-label">
                    {{t "templates.user.UserProfileTemplate.changeSecurityData"}}
                </a>
            </div>
     
            <div class="group-field-block col2">
                <label for="username"  class="light align-right">{{t "common.user.username"}}</label>
                <input type="text" id="username" name="username" value="" readonly >
            </div>

         </div>

        {{#unless adminUser}}
            <div class="clearfix">
            
                <div class="group-field-block col2">
                    <label for="givenname" class="light align-right">{{t "common.user.givenName"}}</label>
                    <input  id="givenname" type="text" name="givenname" value="" autofocus />
                </div>

                <div class="group-field-block col2">
                    <label for="sn" class="light align-right">{{t "common.user.familyName"}}</label>
                    <div class="float-left separate-message">
                        <div class="group-input-span">
                            <input type="text" id="sn" name="sn" value=""  data-validator="required" data-validator-event="keyup change" data-validation-status="error" required />
                            <span class="error">x</span>
                        </div>
                        <div class="validation-message"></div>
                    </div>
                </div>
       
            </div>

            <div class="clearfix">

                <div class="group-field-block col2">
                    <label for="mail" class="light align-right">{{t "common.user.emailAddress"}}</label>
                    <input type="email" id="mail" name="mail" value="" />
                </div>

                <div class="group-field-block col2">
                    <label for="telephonenumber" class="light align-right">{{t "common.user.phoneNumber"}}</label>
                    <input type="tel" id="telephonenumber" name="telephonenumber" value="" />
                </div>

            </div>
        
            {{#if hasAddressDetails}}
                <div class="clearfix">

                    <div class="group-field-block col2">
                        <label for="postaladdress" class="light align-right">{{t "common.user.address1"}}</label>
                        <input type="text" id="postaladdress" name="postaladdress" value="" />
                    </div>

                     <div class="group-field-block col2">
                        <label for="address2" class="light align-right">{{t "common.user.address2"}}</label>
                        <input type="text" id="address2" name="address2" value="" />
                    </div>

                </div>

                <div class="clearfix">

                    <div class="group-field-block col2">
                        <label for="city" class="light align-right">{{t "common.user.city"}}</label>
                        <input type="text" id="city" name="city" value="" />
                    </div>

                     <div class="group-field-block col2">
                        <label for="postalcode" class="light align-right">{{t "common.user.postalCode"}}</label>
                        <input type="text" id="postalcode" name="postalcode" value="" />
                    </div>

                </div>

                <div class="clearfix">

                    <div class="group-field-block col2">
                        <label for="country" class="light align-right">{{t "common.user.country"}}</label>
                        <select id="country" name="country"></select>  
                    </div>

                     <div class="group-field-block col2">
                        <label for="stateprovince" class="light align-right">{{t "common.user.stateProvince"}}</label>
                        <select id="stateprovince" name="stateprovince"></select>                   
                    </div>

                </div>
            {{/if}}

            {{#siteIdentification}}
                <div class="clearfix">

                    <div class="float-right col2">
                        <a href="{{url 'siteIdentification'}}" id="passPhraseLink" class="ice hrefInput align-label">
                            {{t "templates.user.UserProfileTemplate.changeSiteIdentification"}}
                        </a>
                    </div>

                </div>
            {{/siteIdentification}}

        {{/unless}}

        <div class="float-right group-actions-block">
            <input type="submit" name="saveButton" value="{{t "common.form.update"}}" class="button" disabled="true" />
            <input type="button" name="resetButton" value="{{t "common.form.reset"}}" class="button gray"/> 
        </div>
  
    </form>

</div>
