<h3>{{t "common.user.userProfile"}}</h3>

<form id="userProfileForm">
    <ul>
        <li><a href="{{url 'changeSecurityData'}}">{{t "templates.user.UserProfileTemplate.changeSecurityData"}}</a></li>
        {{#unless adminUser}}
        {{#siteIdentification}}<li><a href="{{url 'siteIdentification'}}">{{t "templates.user.UserProfileTemplate.changeSiteIdentification"}}</a></li>{{/siteIdentification}}
        {{/unless}}
    </ul>
    <div class="form-group">
        <label for="uid">{{t "common.user.username"}}</label>
        <input class="form-control" type="text" id="uid" name="uid" value="" readonly>
    </div>

    {{#unless adminUser}}
    <div class="form-group">
        <label for="givenName">{{t "common.user.givenName"}}</label>
        <input class="form-control" type="text" id="givenName" name="givenName" value="" autofocus />
    </div>
    <div class="form-group">
        <label for="sn">{{t "common.user.familyName"}}</label>
        <input class="form-control" type="text" id="sn" name="sn" value="" />
    </div>
    <div class="form-group">
        <label for="mail">{{t "common.user.emailAddress"}}</label>
        <input class="form-control" type="email" id="mail" name="mail" value="" />
    </div>
    <div class="form-group">
        <label for="telephoneNumber">{{t "common.user.phoneNumber"}}</label>
        <input class="form-control" type="tel" id="telephoneNumber" name="telephoneNumber" value="" />
    </div>

    {{#if hasAddressDetails}}
    <div class="form-group">
        <label for="postalAddress">{{t "common.user.address1"}}</label>
        <input class="form-control" type="text" id="postalAddress" name="postalAddress" value=""  />
    </div>
    <div class="form-group">
        <label for="address2">{{t "common.user.address2"}}</label>
        <input class="form-control" type="text" id="address2" name="address2" value=""  />
    </div>
    <div class="form-group">
        <label for="city">{{t "common.user.city"}}</label>
        <input class="form-control" type="text" id="city" name="city" value=""  />
    </div>
    <div class="form-group">
        <label for="city">{{t "common.user.city"}}</label>
        <input class="form-control" type="text" id="city" name="city" value=""  />
    </div>
    <div class="form-group">
        <label for="postalCode">{{t "common.user.postalCode"}}</label>
        <input class="form-control" type="text" id="postalCode" name="postalCode" value=""  />
    </div>
    <div class="form-group">
        <label for="country">{{t "common.user.country"}}</label>
        <select class="form-control" id="country" name="country"></select>
    </div>
    <div class="form-group">
        <label for="stateProvince">{{t "common.user.stateProvince"}}</label>
        <select class="form-control" id="stateProvince" name="stateProvince"></select>
    </div>
    {{/if}}

    {{/unless}}

    <div class="pull-right">
        <input class="btn btn-default" type="submit" name="saveButton" value="{{t "common.form.update"}}" disabled="true" />
        <input class="btn btn-default" type="button" name="resetButton" value="{{t "common.form.reset"}}" />
    </div>

</form>