@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), local('Roboto'), url(Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto-Bold'), local('Roboto-Bold'), url(Roboto/Roboto-Bold.ttf) format('truetype');
}