<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>JASPI Test Server</display-name>

    <filter>
        <filter-name>EndpointJaspiRuntimeFilter</filter-name>
        <filter-class>org.forgerock.jaspi.JaspiRuntimeFilter</filter-class>
        <!--<init-param>-->   <!-- TODO write test which tests that can change the context factory -->
            <!--<param-name>context-factory-class</param-name>-->
            <!--<param-value>org.forgerock.jaspi.context.DefaultServerContextFactory</param-value>-->
        <!--</init-param>-->
        <init-param>
            <param-name>logging-configurator-class</param-name>     <!-- TODO update Loggers so as can test that they are being called when expected -->
            <param-value>org.forgerock.jaspi.test.server.TestLoggingConfigurator</param-value>
        </init-param>
        <init-param>
            <param-name>module-configuration-factory-class</param-name>       <!-- Test all posible incorrect configurations, etc -->
            <param-value>org.forgerock.jaspi.test.server.endpoint.ModuleConfigurationResource</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>EndpointJaspiRuntimeFilter</filter-name>
        <url-pattern>/endpoint/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Endpoints</servlet-name>
        <servlet-class>org.forgerock.json.resource.servlet.HttpServlet</servlet-class>
        <init-param>
            <param-name>connection-factory-class</param-name>
            <param-value>org.forgerock.jaspi.test.server.ConnectionFactory</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Endpoints</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
