.backgrid-container {
    // Do not remove. This is required for table scrolling and frozen columns.
    overflow-x: auto;
    height: auto;
}

.backgrid {
    thead th {
        text-align: left;
        border-width: 2px;
        background-color: transparent;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;

        > a {
            color: @base-theme-color;

            &:focus, &:hover {
                color: @panel-hover-color;
            }
        }

        &.descending .sort-caret {
            border-top-color: inherit;
        }

        &.ascending .sort-caret {
            border-bottom-color: inherit;
        }

        &.filter-header-cell {
            .form-search {
                margin: 0 0 10px 0;
                width: auto;
                font-size: 14px;

                .search {
                    display: none;
                }

                input[type=search] {
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    padding-left: 6px;
                }

                .clear {
                    right: 7px;
                    font-size: 16px;
                }
            }
        }
    }

    tbody {
        tr {
            &:nth-child(2n) {
                background-color: #fff;
            }

            &.selected {
                background-color: #d9edf7;
            }

            &:hover, &:focus {
                // please use table-hover class
            }

            &.empty {
                background-color: #d9edf7;
                td {
                    display: table-cell;
                    color: #31708f;
                }
            }

            td {
                &.select-row-cell {
                    width: 42px;
                }

                &.template-cell {
                    text-align: center;
                    &.edit-cell {
                        padding: 0;
                        width: 60px;

                        .fa-pencil {
                            display: block;
                            height: 100%;
                            position: relative;

                            &:before {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-left: -0.5em;
                                margin-top: -0.5em;
                            }
                        }

                        &:hover {
                            background-color: #e6e6e6;
                        }
                    }
                }

                &.array-formatter-cell {
                    ul {
                        font-size: 13px;
                        line-height: 1.5;
                        list-style-type: none;
                        padding: 0;
                        margin: 0;

                        li {
                            overflow-x: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }

                &.object-formatter-cell {
                    .dl-horizontal {
                        margin: 0;
                        font-size: 12px;

                        dd {
                            margin-left: 0;
                            float: left;
                        }

                        dt {
                            text-transform: uppercase;
                            text-align: left;
                            text-overflow: ellipsis;
                            overflow-x: hidden;
                            clear: left;
                            width: 70px;
                        }
                    }
                }
            }
        }
    }
}

// min-width: 992px
@media (min-width: @screen-md) {
    .backgrid tbody tr td.object-formatter-cell {
        .dl-horizontal {
            .multi-column-layout(2, 10px);

            dd {
                margin-left: 75px;
                float: none;
            }
        }
    }
}

// min-width: 1200px
@media (min-width: @screen-lg) {
    .backgrid tbody tr td.object-formatter-cell {
        .dl-horizontal {
            dd {
                margin-left: 95px;
            }

            dt {
                width: 90px;
            }
        }
    }
}
