.page-header {
    border-bottom: 1px solid #ddd;
    position: relative;

    h1 {
        margin-top: 0;
        word-wrap: break-word;
        font-weight:300;

        .help-link {
            font-size: 14px;
            text-transform: capitalize;
            margin-top: 25px;
        }
    }

    .page-header-right {
        position: absolute;
        right: 0;
        bottom: 30px;
    }

    &.no-border {
        border-bottom: none;
        margin-bottom: 0;
    }

    .row h1 {
        margin-top: 0;
    }
}
