/*
  Variables used throughout commons
*/

//Primary brand variables
@forgerock-green: #519387;
@forgerock-yellow: #eeea07;
@forgerock-light-grey: #f7f7f7;
@forgerock-dark-grey: #2a2f32;

//logo variables
@main-bar-logo: 'images/logo.png';
@login-logo: 'images/logo.png';

//Other variables
@success-green: #80b7ab;
@failure-red: #a94442;
@base-font-color: #2a2f32;
@navbar-link-color: #979797;

//font variables
@font-family: "HelveticaNeue-Light", "Helvetica Neue", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;

//Footer variables
@footer-height: 60px;
