/*
  Variables used throughout commons
*/

//Primary brand variables
@base-theme-color: #519387;

//general variables
@background-color: #f7f7f7;

//Other variables
@success-color: #80b7ab;
@failure-color: #a94442;
@base-font-color: #2a2f32;

//nav bar colors
@navbar-toggle-color: #979797;

//Subnav small screen styles
@subnav-small-device-hover: #777777;
@subnav-small-device-active-background: #080808;
@subnav-small-device-active-color: #ffffff;

//Modal
@modal-background-color:#2a2f32;

//Footer variables
@footer-height: 70px;
@footer-background-color: #eee;
@footer-color: #9D9D9D;
