/*
  Variables used throughout commons
*/

//Primary brand variables
@forgerock-green: #519387;
@forgerock-yellow: #eeea07;
@forgerock-light-grey: #f7f7f7;
@forgerock-dark-grey: #2a2f32;

//general variables
@background-color: #f7f7f7;

//Panel colors
@panel-title-color:#333333;
@panel-title-collapse-color:#666666;
@panel-title-hover:#36625a;
@panel-header-color:#f7f7f7;
@panel-badge-color:#519387;

//Nav Colors
@nav-subnav-background-color:#1D2124;
@nav-subnav-color:#999999;
@nav-subnav-color-hover:#ffffff;

//logo variables
@main-bar-logo: 'images/logo.png';
@login-logo: 'images/logo.png';

//Other variables
@success-green: #80b7ab;
@failure-red: #a94442;
@base-font-color: #2a2f32;
@navbar-link-color: #979797;

//font variables
@font-family: "Helvetica Neue-Light", "Helvetica Neue", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;

//Footer variables
@footer-height: 70px;
